<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.jir3d.url">
        </div>
        <label class="control-label">{{ _('NOMBRE') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.jir3d.nombre">
        </div>
        <label class="control-label">{{ _('APIKEY') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.jir3d.apikey">
        </div>
    </div>
</form>